@font-face {
  font-family: MyriadCondRegular;
  src: url(../fonts/MyriadProCondRegular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: MyriadCond-Pro;
  src: url(../fonts/MyriadPro-Cond.otf) format("opentype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: MyriadCondBold;
  src: url(../fonts/MyriadProCondBold.ttf) format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: PFDinTextCondPro-Thin;
  src: url(../fonts/pfdintextcondpro-thin.ttf) format("truetype");
  font-style: normal;
  font-weight: bold; }

@font-face {
  font-family: PFDinTextCondPro;
  src: url(../fonts/PFDinTextCondPro.ttf) format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: PFDinTextCondProRegular;
  src: url(../fonts/pfdintextcondpro-regular.ttf) foramt("truetype");
  font-style: normal;
  font-weight: normal; }

body {
  font-family: PFDinTextCondPro-Thin, Helvetica;
  line-height: 1; }

a, .offer__items-text {
  font-family: MyriadCond-Pro; }

h1 {
  font-family: PFDinTextCondPro-Thin;
  font-size: 66px; }

h1, h2 {
  text-transform: uppercase; }

button {
  font-family: PFDinTextCondPro-Thin;
  font-size: 18px;
  text-transform: uppercase; }

::placeholder {
  color: #fff;
  font-family: PFDinTextCondPro-Thin; }

.slick-container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto; }

.header {
  width: 100%;
  height: 618px;
  background: url(../img/bg-first.png) no-repeat;
  background-size: cover;
  margin: 0 auto;
  position: relative; }
  .header__container {
    display: flex;
    justify-content: flex-start; }
  .header__video {
    position: absolute;
    width: 100%;
    height: 100%; }
  .header__info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: right;
    position: absolute;
    right: 7px;
    bottom: 10px;
    text-transform: uppercase; }

.header--bgr {
  background: url(../img/space.jpg) no-repeat;
  background-size: cover;
  opacity: .7; }

.menu {
  margin-top: 45px; }
  .menu__list {
    margin: 0;
    margin-left: 40px;
    padding-left: 10px;
    position: relative; }
  .menu__list:before {
    content: '';
    display: block;
    background-image: url(../img/L.png);
    position: absolute;
    left: 0;
    top: 0;
    width: 1.5px;
    height: 100%; }
  .menu__list-item {
    list-style: none; }
  .menu__link {
    text-decoration: none;
    color: #fff;
    font-size: 22px; }
  .menu__link:hover {
    color: #cf613b; }

.container__box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  width: 498px; }

.title__box {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; }

.title {
  margin-bottom: 10px; }
  .title__two {
    font-size: 30px;
    margin-bottom: 10px; }
  .title__percent {
    font-size: 52px; }

.input__box {
  width: 475px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center; }
  .input__box-button {
    background-color: #cf613b;
    border: none;
    outline: none;
    width: 188px;
    border-radius: 20px;
    padding: 20px 45px;
    color: #fff; }
  .input__box-wrap-one {
    width: 250px;
    margin-right: 10px; }

.input__box input {
  background-color: #cf613b;
  border: 1px solid #cf613b;
  border-radius: 22px;
  margin: 4px 0;
  padding: 7px 40px 7px 10px;
  outline: none; }

.number {
  font-size: 33px;
  color: #cf613b; }

.copyright {
  margin-top: 5px;
  font-size: 15px; }

.head-container {
  max-width: 1400px;
  margin: 0 auto; }

.container {
  width: 100%;
  height: 949px;
  margin: 0 auto;
  background: url(../img/bg-2.png) no-repeat;
  background-size: cover;
  background-position: -2% 16%;
  position: relative;
  top: -33px; }
  .container__title {
    width: 100px;
    border-left: 1px solid #000;
    font-size: 30px;
    padding: 0 0 0 15px;
    margin-left: 40px; }

.title-box {
  padding-top: 20px; }

.orange {
  color: #d7856d; }

.circles {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

.circle {
  margin: 15px; }

.icon {
  background-image: url(../img/sprites/css_sprites.png);
  display: inline-block;
  vertical-align: middle; }

.icon1 {
  width: 127px;
  height: 126px;
  background-position: -157px -156px; }

.icon2 {
  width: 127px;
  height: 126px;
  background-position: -304px -10px; }

.icon3 {
  width: 127px;
  height: 126px;
  background-position: -10px -10px; }

.icon4 {
  width: 127px;
  height: 126px;
  background-position: -157px -10px; }

.icon5 {
  width: 127px;
  height: 126px;
  background-position: -10px -156px; }

.icon6 {
  width: 127px;
  height: 126px;
  background-position: -304px -156px; }

.arrow-box {
  position: relative;
  top: -22px; }

.arrow {
  width: 15px;
  height: 26px;
  background-position: -10px -302px; }

.descr {
  text-align: center;
  text-transform: uppercase;
  width: 130px;
  font-size: 16px; }

.offer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  margin-top: 70px; }
  .offer__box-info {
    background-color: #cf613b; }
  .offer__box {
    width: 420px;
    height: 420px;
    border: 6px solid #cf613b;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    background-color: #fff;
    position: relative; }
  .offer__box-title {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 36px; }
  .offer__box-text {
    display: inline-block;
    font-size: 18px;
    margin-top: 4px;
    font-family: PFDinTextCondPro-Thin;
    color: #fff;
    margin: 0 15px 10px 15px;
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    outline: none; }

.lightbox {
  background: url(../img/plan.png) no-repeat;
  width: 413px;
  height: 342px;
  background-position: 50% 50%;
  position: relative; }
  .lightbox__zoom {
    width: 4.5em;
    height: 4.5em;
    border-radius: 50%;
    background-color: #313131;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); }
  .lightbox__zoom:hover {
    opacity: 0.7; }
  .lightbox__icon {
    background: url(../img/zoom.png) no-repeat 50% 50%;
    width: 42px;
    height: 34px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    cursor: pointer; }

.cost {
  background: url(../img/cost-box.png) no-repeat;
  width: 142px;
  height: 36px;
  position: absolute;
  bottom: 20px;
  right: 0; }
  .cost__text {
    font-size: 24px;
    vertical-align: middle;
    margin-top: 18px; }

.offer__box2 {
  position: relative; }

.offer__items-text {
  text-transform: uppercase;
  color: #cf613b;
  font-size: 41px;
  margin-top: 92px;
  margin-left: 55px; }

.offer__items-text:before {
  content: '';
  display: block;
  background: url(../img/arrow-left.png) no-repeat;
  width: 12px;
  height: 21px;
  position: absolute;
  left: 27px;
  top: 102px; }

.offer__text {
  position: absolute;
  width: 100px;
  top: 110px;
  left: 130px;
  font-size: 29px;
  text-transform: uppercase;
  font-family: MyriadCond-Pro;
  color: #676666; }

.cost-box {
  background: url(../img/cost-b-right.png);
  width: 309px;
  height: 36px; }
  .cost-box__text {
    text-transform: uppercase;
    font-size: 24px;
    font-family: MyriadCond-Pro;
    text-align: center;
    color: #000;
    padding: 7px;
    margin: 12px 0; }

.character p {
  margin: 5px 16px;
  font-family: PFDinTextCondPro; }

.character__title {
  color: #d4795d;
  font-size: 18px; }

.character__text {
  color: #727272;
  font-size: 18px; }

.description {
  position: relative;
  background: url(../img/bg3.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 620px;
  margin-bottom: 40px; }

/* width */
.description__box::-webkit-scrollbar {
  width: 20px; }

/* Track */
.description__box::-webkit-scrollbar-track {
  background: url(../img/track.png) no-repeat 50%;
  width: 1px;
  height: 484px; }

/* Handle */
.description__box::-webkit-scrollbar-thumb {
  background: url(../img/scroll.png) no-repeat 50%;
  height: 5px; }

aside {
  position: absolute;
  left: 0;
  width: 225px;
  height: 620px;
  background: url(../img/bg-3-left.png); }

.list, .list2 {
  border-left: 1px solid #fff;
  padding-left: 10px;
  margin-left: 40px; }

.list2 {
  margin-top: 40px;
  line-height: 1.6; }

.list__item > a, .list__item2 > a {
  text-transform: uppercase;
  text-decoration: none; }

.list__item > a {
  font-size: 30px; }

.list2__link {
  font-size: 18px;
  color: #fff;
  font-family: MyriadCond-Pro; }
  .list2__link:hover {
    color: #000; }

.list__item, .list__item2 {
  list-style: none; }

.list__link1 {
  color: #fff;
  font-family: PFDinTextCondPro-Thin; }

.list__link2 {
  color: #000;
  font-family: PFDinTextCondPro-Thin; }

.description__box {
  position: absolute;
  left: 21%;
  top: 7%;
  max-width: 1054px;
  width: 100%;
  height: 540px;
  background: rgba(255, 255, 255, 0.8);
  overflow-y: scroll; }

.description__box-title {
  font-size: 58px;
  width: 430px;
  margin: 10px 20px; }

.description__text {
  font-size: 28px;
  margin: 10px 30px; }

.description__bottom {
  background: url(../img/bg-3-bot.png);
  width: 100%;
  height: 24px;
  position: absolute;
  bottom: -24px; }

.promo-code {
  background: url(../img/bg-4.png);
  width: 100%;
  height: 596px;
  top: -16px;
  text-transform: uppercase;
  color: #fff;
  position: relative; }
  .promo-code__container {
    position: absolute;
    left: 138px;
    top: 74px; }
  .promo-code p {
    margin: 0;
    align-self: flex-start; }
  .promo-code__box {
    width: 505px;
    position: relative; }
  .promo-code__wrap {
    position: relative;
    display: inline-block;
    vertical-align: top;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center; }

.f-text {
  font-size: 36px; }

.s-text {
  font-size: 72px;
  color: #cf613b;
  width: 416px; }

.th-text {
  display: block;
  font-size: 24px;
  width: 176px;
  position: absolute;
  bottom: 13px;
  right: 0; }

.five-text {
  font-size: 72px; }

.six-text {
  font-size: 293px;
  line-height: 0.8; }

.randomizer__text {
  font-size: 74px; }

.randomizer__number {
  color: #cf613b; }

.randomizer input {
  width: 225px; }

.randomizer button {
  margin-left: 27px; }

.apartmens {
  background: url(../img/bg-5.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 749px;
  position: relative;
  top: -16px; }

.apartmens aside {
  background: none;
  margin-top: 43px; }
  .apartmens aside .list, .apartmens aside .list2 {
    border-left: 1px solid #000; }
  .apartmens aside .list__link1 {
    color: #000; }
  .apartmens aside .list__link2 {
    color: #cf613b; }
  .apartmens aside .list2__link:hover {
    color: #cf613b; }

.apartmens a[href="##"] {
  color: #000; }

.apartmens__box {
  position: relative; }

.apartmens__box-item {
  width: 980px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-45%, 29%); }

.light3d {
  width: 230px;
  height: 197px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.light3d-shape {
  background: url(../img/shapEllipse.png) no-repeat 50% 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease;
}
.light3d-shape:hover {
  opacity: 1
}

.house {
  width: 230px;
  height: 254px;
  background: #fff;
  position: relative;
  background: url(../img/bg-box.png) no-repeat;
  margin: 10px 5px; }

.house--2 {
  background: url(../img/bg-box2.png) no-repeat; }

.house--3 {
  background: url(../img/bg-box3.png) no-repeat; }

.house--4 {
  background: url(../img/bg-box4.png) no-repeat; }

.house--5 {
  background: #fff url(../img/no-image.png) no-repeat 25% 49%; }

.house--6 {
  background: url(../img/bg-box6.png) no-repeat; }

.house--7 {
  background: url(../img/bg-box7.png) no-repeat; }

.house--8 {
  background: #fff url(../img/no-image.png) no-repeat 25% 49%; }

.first-box {
  position: relative;
  text-transform: uppercase;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 5px 5px; }
  .first-box__wrap {
    position: relative; }
  .first-box__text {
    font-size: 20px;
    color: #cf613b;
    margin: 10px; }
  .first-box__text:before {
    content: '';
    display: inline-block;
    background: url(../img/mini-arrow.png) no-repeat;
    width: 6px;
    height: 10px;
    vertical-align: 2px;
    margin-right: 7px; }
  .first-box__span {
    font-size: 14px;
    color: #676666;
    position: absolute;
    right: 10px; }
  .first-box__img {
    background: url(../img/round.png) no-repeat;
    width: 41px;
    height: 41px;
    margin: 7px; }

.plan {
  bottom: 82px;
  right: 7px;
  position: absolute;
  text-align: right; }
  .plan p {
    margin: 0;
    font-size: 14px; }
  .plan__title {
    color: #cf613b; }
  .plan__text {
    color: #000; }

.flag {
  position: absolute;
  background: url(../img/our-cost-wrap.png) no-repeat;
  width: 150px;
  height: 27px;
  bottom: 30px; }

.flag2 {
  position: absolute;
  background: url(../img/our-cost.png) no-repeat;
  width: 108px;
  height: 27px;
  bottom: 30px;
  right: 0;
  transition: .2s background ease; }
  .flag2:hover {
    background: url(../img/our-cost-b.png) no-repeat;
    width: 108px;
    cursor: pointer; }

.flag, .flag2, .flag3 {
  text-transform: uppercase;
  font-size: 14px;
  color: #fff; }

.flag2:hover .flag2__text {
  display: none; }

.flag2 .flag2__text2 {
  display: none; }

.flag2:hover .flag2__text2 {
  display: block;
  color: #fff;
  text-align: right;
  margin: 7px 10px 0px 10px; }

.flag2__text {
  display: block;
  text-align: right;
  margin: 7px 10px 0px 10px; }

.flag__text {
  display: block;
  text-align: left;
  margin: 7px 10px 0px 10px; }

.flag3 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(../img/cost-firm.png) no-repeat;
  width: 228px;
  height: 27px;
  position: absolute;
  bottom: 0; }

.flag3__text {
  margin: 10px; }

.flag3__text:nth-child(2) {
  text-decoration: line-through; }

.selection {
  background: url(../img/bg-6.png);
  width: 100%;
  height: 596px;
  top: -16px;
  text-transform: uppercase;
  color: #fff;
  position: relative; }

.selection p {
  margin: 0; }

.selection .six-text {
  font-size: 71px; }

.selection .s-text {
  width: 510px; }

.selection .th-text {
  width: 158px; }

.selection .five-text {
  font-size: 35px; }

.selection .five-text, .selection .six-text {
  align-self: flex-start; }

.selection .promo-code__container {
  position: absolute;
  left: 250px;
  top: 143px; }

footer {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.map {
  width: 100%;
  height: 700px;
}

.feedback {
}

.contacts__number,.contacts__address {
  font-size: 37px;
  color: #000;
  text-transform: uppercase;
}

.contacts {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
